.link {
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}

.icon {
    display: flex;
    color: var(--bg-button-hover);
}

.active {
    color: var(--bg-button);
}

.text {
    line-height: 14px;
    font-size: 11px;
}