.input {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding: 7px 8px;
    border-radius: 6px;
    border: 1px solid var(--bg-button);
    &.readonly {
        pointer-events: none;
    }
}