:root {
    --bg-main: white;
    --bg-step-default: rgba(186, 207, 233, .7);
    --bg-step-active: #5d80a9;
    --bg-step-done: #2c384a;

    --bg-button: #2a5885;
    --bg-button-hover: #5181b8;

    --color-text: #333333;
    --color-text-second: #edeef0;

    --bg-button-red: #e64646;
    --bg-button-red-hover: #ff5c5c;

    --bg-button-green: #4bb34b;
}