.wrapper {
    display: flex;
    gap: 6px;
    align-items: center;
    cursor: pointer;
}

.checked {
    width: 20px;
    height: 20px;
    border: 2px solid var(--bg-button);
    position: relative;
    &__radio {
        border-radius: 100%;
    }
    &__checkbox {
        border-radius: 6px;
    }
}

.input {
    display: none;
}

.input:checked ~ .checked::after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    width: 12px;
    height: 12px;
    background-color: var(--bg-button);
}

.input:checked ~ .checked__radio::after {
    border-radius: 100%;
}

.input:checked ~ .checked__checkbox::after {
    border-radius: 3px;
}